img{
    height:250px;
    width:250px;
}
table ,td{
    border:2px solid black;
}
body{
    text-align: center;
}
table{
    margin-left:200px;
    margin-right: 200px;
}
body{
    background-color:whitesmoke;
}
#container{
    background-color: #58a5ff;
}
